@import url('http://fonts.cdnfonts.com/css/gill-sans');

* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.loading {
  color: #2e5fe6;
  margin-left: 2rem;
  margin-top: 10rem;
  font-size: 2rem;
}
