.country{
  display: flex;
  margin-bottom: 2rem;
}

.country-detail{
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 1rem;
}

.population {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.countries-container {
  margin-top: 10rem;
}
