.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  box-shadow: 3px 6px 12px 6px rgb(237, 233, 233);
  background: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
}

.Flex-1 {
  flex: 1 1 40%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 72px;
  object-fit: cover;
  margin-right: 12px;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  flex-wrap: wrap;
}

.linkItems {
  min-width: 65px;
  margin-right: 30px;
  border: 1px solid rgb(5, 5, 115, 0.9);
  padding: 9px 9px;
  border-radius: 6px;
  text-align: center;
  transition: all 1s;
}

.linkItems a {
  border-radius: 3px;
}

.linkItems a:hover {
  color: #fff;
}

.linkItems:hover {
  background: rgb(5, 5, 115, 0.9);
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.hide {display: none;}